{{template "base" .}}

{{define "content"}}
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto px-0">
        <h1 class="text-center mt-5 mb-3">Search for Availability</h1>
        <form action="#" method="get" class="row g-3 needs-validation" novalidate id="reservation-dates">
            <div class="col-md-6">
                <input required type="text" class="form-control" id="start_date" name="start" aria-describedby="startDateHelp" placeholder="Arrival">
            </div>
            <div class="col-md-6">
                <input required type="text" class="form-control" id="end_date" name="end" aria-describedby="endDateHelp" placeholder="Departure">
            </div>
            <div class="text-center">
              <hr class="my-auto">
              <button type="submit" class="btn btn-primary mt-3" id="colorButton">Search Availability</button>
            </div>
          </form>
      </div>
    </div>
  </div>
{{end}}


{{define "js"}}
  <script>
    const elem = document.getElementById('reservation-dates');
    const rangepicker = new DateRangePicker(elem, {
      format: "yyyy-mm-dd"
    }); 
  </script>
{{end}}